body{
  background-color:#ECEEF1;
  font-family: "AvenirNext", Avenir, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

a{
  font-size: 14px;
  padding:0;
  text-decoration: none;
}

form{
  background-color: white;
  width: 318px;
  padding:30px;
  margin:20px auto;
}

main img{
  display:block;
  width:auto;
  margin:auto;
}

input{
  width: 320px;
  height:34px;
}

h4{
  margin: 0;
}

button{
    height: 35px;
    background-color: #0077C5;
    color:white;
}

nav{
  text-align: left;
  display: block;
  float:right;

}

footer{
  background-color: white;
  height: 60px;

}

.navDiv{
  overflow:auto;
}

.top-header-note{
  font-size: 24px;
  display:block;
  padding:0px 0 0 0;
  text-align: center;
}

.header-note{
  font-size: 14px;
  display:block;
  padding:20px 0 0 0;
  text-align: center;
}

.learn-more{
  font-size: 14px;
  padding:0;
  text-decoration: none;
}

.signup-label{
  display:block;
  padding: 20px 0 5px 0;
}

.nav-container{
  display: flex;
  justify-content: flex-end;
}

.existing-user{
  text-align: left;
  margin-bottom: 50px;
}

.sign-in{
  margin:0 20px 0 10px;
}

.phone-fee{
  font-size: 10px;
  margin-bottom: 50px;
}

.create-account{
  display: block;
  font-size: 16px;
  margin: 20px auto;
  width: 320px;
}

.consent{
  font-size: 12px;
  font-style: italic;
  text-align: center;
  padding: 0 5px;
}

.footnotes{
  display: block;
  font-size: 12px;
  text-align: center;
  margin: auto;
  padding-bottom: 30px;
}

.legals{
  font-size: 12px;
  color: black;
  decoration: none;
  padding: 0px 10px;
}

.disclaimer{
  display:block;
  padding-top: 5px;
}

.privacy{
  display: block;
  padding: 20px 0 20px 20px;
}

#pass-label{

  margin-top: 15px;
}
